@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    box-sizing: border-box;
    font-family: serif;
}

.hidden_menu {
    display: none;
}

a, a.btn {
    text-decoration: none;
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

nav.navbar {
    background-color: black;
}

button[type='button'] {
    font-size: x-large;
}

button.nav-link:hover {
    border: 2px solid gray;
}

/* home page style */

div.home-page {
    position: relative;
    width: 100%;
}

/* Keep here */

div.home-h-txt {
    position: absolute;
    top: 25%;
    width: 100%;
    padding-left: 23%;
    padding-right: 23%;
}

div.home-h-txt h1 {
    color: white;
    font-size: 4vw;
}

div.home-p-txt {
    position: absolute;
    top: 45%;
    width: 100%;
    padding-left: 24vw;
    padding-right: 24vw;
}

div.home-p-txt p {
    color: white;
    font-size: 2vw;
}

div.contact-btn {
    position: absolute;
    top: 60%;
    width: 100%;
}

div.contact-btn input {
    padding: 0.5vw;
    font-size: 1.6vw;
    border-radius: 5px;

}

div.about-h-txt h1 {
    font-size: 2.7vw;
    font-weight: bolder;
}

div.mission-h-txt, div.vision-h-txt {
    font-size: 2.2vw;
    font-weight: bolder;
}

p.card-p-txt {
    font-size: 2vw;
}

/* to here */

/* about page style */

div.about-us {
    height: 100% !important;
}

div.about-heading {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

div.about-txt-1 {
    float: left;
    width: 60%;
    height: 60%; 
    font-size: 20px;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    background-color: rgb(94, 96, 93);
    color: white;
}

div.about-img-1 {
    float: right; 
    width: 40%;
    height: 40%;
}

div.mission-heading {
    left: 0; 
    top: 0; 
    width: 100%; 
    margin-left: 0; 
    margin-top: 2%; 
    font-size: 30px;
}

/* image page style */
div.slideshow-container {
    position: relative;
}

div.mySlides img {
    max-width: 100%; 
    height: 100%;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 0;
    color: white;
    font-size: 100%;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    background-color: black;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 0;
    color: white;
    font-size: 100%;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    background-color: black;
}

/* sevices page style */

div.services {
    display: flex;
    justify-content: space-evenly;
}

div.card {
    width: 19vw;
}

img.card-img {
    height: 28vh; 
    width: 18vw;
}

/* footer page style */
footer {
    background-color: rgb(150, 150, 150);
}

@media screen and (min-width:320px) and (max-width:426px) {

    /* here */
    div.home-h-txt {
        position: absolute;
        top: 25%;
        width: 100%;
        padding-left: 23%;
        padding-right: 23%;
    }

    div.home-h-txt h1 {
        color: white;
        /* font-size: 4vw; */
    }

    div.home-p-txt {
        position: absolute;
        /* font-size: 4vw; */
        width: 100%;
        top: 45%;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    div.home-p-txt p {
        color: white;
        font-size: 4vw;
    }

    div.contact-btn {
        position: absolute;
        top: 72%;
        width: 100%;
    }

    div.contact-btn input {
        padding: 1.5vw;
        font-size: 4vw;
        border-radius: 3px;
    }

    div.about-h-txt h1 {
        font-size: 4.7vw;
        font-weight: bolder;
    }

    div.mission-h-txt, div.vision-h-txt {
        font-size: 4.2vw;
        font-weight: bolder;
    }

    p.card-p-txt {
        font-size: 4vw;
    }

     /* to here */

    .card-link, button.service-link {
        font-size: 15px;
        padding: 1px;
        width: 50%;
        margin: auto;
    }

    div.card {
        border: none;
        min-width: 100%;
    }

    div.about-us {
        height: 100% !important;
    }

    div.about-heading {
        padding: 7px;
    }

    /* div.about-txt-1 {
        float: left;
        width: 45%;
        height: 20vh; 
        font-size: 100%;
        padding-top: 4%;
        padding-left: 1%;
        padding-right: 1%;
        position: relative;
        line-height: normal;
    } */

    div.about-img-1 {
        float: right; 
        width: 55%; 
        height: 20vh;
    }

    div.mission-heading {
        width: 100%; 
        margin-left: 0; 
        margin-top: 0; 
        font-size: 13px;
    }

    div.mySlides {
        /* margin: auto; */
    }

    div.mySlides img {
        height: 100%;
        max-width: 100%;
    }

    div.slideshow-container {
        position: relative;
    }

    .prev {
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: 0;
        color: white;
        font-size: 100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        background-color: black;
        
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        right: 0;
        color: white;
        font-size: 100%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        background-color: black;
    }
}

@media screen and (min-width:426px) and (max-width:769px) {

    /* here */

    div.home-h-txt {
        position: absolute;
        top: 25%;
        width: 100%;
        padding-left: 23%;
        padding-right: 23%;
    }

    div.home-h-txt h1 {
        color: white;
        /* font-size: 4vw; */
    }

    div.home-p-txt {
        position: absolute;
        width: 100%;
        /* font-size: 15px; */
        /* color: white; */
        top: 45%;
        padding-left: 12vw;
        padding-right: 12vw;
    }

    div.home-p-txt p {
        color: white;
        font-size: 3vw;
    }

    div.contact-btn {
        position: absolute;
        top: 66%;
        width: 100%;   
    }

    div.contact-btn input {
        padding: 1vw;
        font-size: 2vw;
        border-radius: 5px;
    }

    div.about-h-txt h1 {
        font-size: 3.7vw;
        font-weight: bolder;
    }

    div.mission-h-txt, div.vision-h-txt {
        font-size: 3.2vw;
        font-weight: bolder;
    }

    p.card-p-txt {
        font-size: 3vw;
    }

    /* to here */

    .card-link, button.service-link {
        font-size: 15px;
        padding: 2px;
        width: 70%;
        margin: auto;
    }

    div.card {
        border: none;
    }

    div.about-us {
        height: 100% !important;
    }
/* 
    div.about-heading {
        padding: 7px;
    } */
/* 
    div.about-txt-1 {
        float: left;
        width: 50%;
        height: 20vh; 
        font-size: 12px;
        padding-top: 4%;
        padding-left: 1%;
        padding-right: 1%;
        position: relative;
        line-height: normal;
    } */
/* 
    div.about-img-1 {
        float: right; 
        width: 55%; 
        height: 20vh;
    } */
/* 
    div.mission-heading {
        position: absolute; 
        width: 100%; 
        margin-left: 0; 
        margin-top: 0; 
        font-size: 18px;
    } */

    div.mySlides {
        margin: auto;
    }

    div.mySlides img {
        height: 100%;
        max-width: 100%;
    }

    div.slideshow-container {
        position: relative;
    }

    .prev {
        cursor: pointer;
        position: absolute;
        top: 45%;
        left: 0;
        color: white;
        font-size: 100%;
        padding: 0.9vw;
        background-color: black;
        
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        right: 0;
        color: white;
        font-size: 100%;
        padding: 0.9vw;
        background-color: black;
    }
}

@media screen and (min-width:769px) and (max-width:1025px) {

    /* here */
    div.home-h-txt {
        position: absolute;
        top: 25%;
        width: 100%;
        padding-left: 23%;
        padding-right: 23%;
    }

    div.home-h-txt h1 {
        color: white;
        /* font-size: 4vw; */
    }

    div.home-p-txt {
        position: absolute;
        width: 100%;
        /* font-size: 15px; */
        /* color: white; */
        top: 45%;
        padding-left: 12vw;
        padding-right: 12vw;
    }

    div.home-p-txt p {
        color: white;
        font-size: 3vw;
    }

    div.contact-btn {
        position: absolute;
        top: 66%;
        width: 100%;
    }

    div.contact-btn input {
        padding: 1vw;
        font-size: 2vw;
        border-radius: 5px;
    }

    div.about-h-txt h1 {
        font-size: 3.7vw;
        font-weight: bolder;
    }

    div.mission-h-txt, div.vision-h-txt {
        font-size: 3.2vw;
        font-weight: bolder;
    }

    p.card-p-txt {
        font-size: 3vw;
    }

    /* to here */

    .card-link, button.service-link {
        font-size: 18px;
        padding: 3px;
        width: 80%;
        margin: auto;
    }

    div.card {
        border: none;
    }

    div.about-us {
        height: 100% !important;
    }

    div.about-heading {
        padding: 10px;
    }

    div.about-txt-1 {
        float: left;
        /* width: 100%; */
        height: 20vh; 
        font-size: 16px;
        padding-top: 4%;
        padding-left: 1%;
        padding-right: 1%;
        position: relative;
        line-height: normal;
    }

    div.about-img-1 {
        float: right; 
        width: 40%; 
        height: 20vh;
    }

    div.mission-heading {
        position: absolute; 
        width: 100%; 
        margin-left: 0; 
        margin-top: 0; 
        font-size: 25px;
    }

    div.mySlides {
        margin: auto;
    }

    div.mySlides img { 
        height: 100%;
        max-width: 100%;
    }

    div.slideshow-container {
        position: relative;
    }

    .prev {
        cursor: pointer;
        position: absolute;
        top: 45%;
        left: 0;
        color: white;
        font-size: 90%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 1vw;
        padding-right: 1vw;
        background-color: black;
        
    }

    .next {
        cursor: pointer;
        position: absolute;
        top: 45%;
        right: 0;
        color: white;
        font-size: 90%;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 1vw;
        padding-right: 1vw;
        background-color: black;
    }
}