* {
    box-sizing: border-box;
}

nav.navbar {
    background-color: rgb(245, 231, 242);
}

button[type='button'] {
    font-size: x-large;
}

button.nav-link:hover {
    border: 2px solid gray;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* home heading and paragraph design */

div.home-page {
    position: relative;
    width: 100%;
    
}

div.home-h-txt {
    position: absolute;
    top: 40%;
    width: 100%;
    padding-left: 23%;
    padding-right: 23%;
}

div.home-h-txt h1 {
    color: white;
    font-size: 4vw;
}

div.home-p-txt {
    position: absolute;
    top: 60%;
    width: 100%;
    color: white;
    /* font-size: 30px; */
    /* padding-left: 30%;
    padding-right: 25%; */
    border: 5px solid red;
}

div.contact-btn {
    position: absolute;
    top: 72%;
    width: 100%;
    /* border: 5px solid red; */
}


/* about heading and paragraph design */

div.about-us {
    position: relative;
}

div.about-h-txt {
    position: absolute;
    top: 5%;
    left: 10%;
}

div.about-h-txt h1 {
    color: black;
    font-size: 4vw;
}

div.about-p-txt {
    position: absolute;
    top: 15%;
    left: 10%;
    right: 56%;
    color: black;
    font-size: 25px;
}

/* new */
div.about-heading {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

div.about-txt-1 {
    /* border: 3px solid red; */
    float: left;
    width: 40%;
    height: 80vh; 
    font-size: 30px;
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 2%;
    position: relative;
    background-color: aqua;

}

div.about-img-1 {
    /* border: 2px solid red;  */
    float: right; 
    width: 60%; 
    height: 80vh;
}

div.mission-heading {
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    margin-left: 0; 
    margin-top: 10%; 
    /* border: 2px solid red; */
}

/* div.about-txt-2 {
    border: 2px solid green; 
    float: right; 
    width: 40%; 
    height: 80vh;  
    font-size: large;
}

div.about-img-2 {
    border: 2px solid green; 
    float: left; 
    width: 60%; 
    height: 80vh;
} */

/* style for image slider */
.slideshow-container {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1%;
    color: white;
    font-size: 2em;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* style for sevices */

div.services {
    display: flex;
    justify-content: space-evenly;
}

div.card {
    width: 19vw;
}

img.card-img {
    height: 28vh; 
    width: 18vw;
}

/* footer style */
footer {
    background-color: rgb(245, 231, 242);
}

/* media queries */

@media screen and (min-width: 576px){
    div.card {
        width: 100%;
    }

    img.card-img {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {

    div.services {
        width: 100%;
        align-items: center;
    }

    div.card {
        min-width: 100%;
    }

    img.card-img {
        width: 50%;
        height: 50%;
    }

    div.card-link a {
        width: 50%;
        text-align: center;
    }

    div.nav-bar ul {
        display: block;
        text-align: center;
    }
}


@media screen and (min-width:320px) and (max-width:425px) {

    div.home-p-txt {
        position: absolute;
        width: 100%;
        font-size: 9px;
        color: white;
    }

    div.about-p-txt {
        position: absolute;
        color: black;
        font-size: 9px;
    }

    .contact-btn {
        font-size: 9px;
        padding: 3px;
    }

    .card-link, .service-link {
        font-size: 15px;
        padding: 2px;
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width:425px) and (max-width:550px) {

    div.home-p-txt {
        position: absolute;
        width: 100%;
        font-size: 11px;
        color: white;
    }

    div.about-p-txt {
        position: absolute;
        
        color: black;
        font-size: 11px;
    }

    .contact-btn {
        font-size: 12px;
        padding: 3px;
    }

    .card-link, .service-link {
        font-size: 15px;
        padding: 4px;
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width:550px) and (max-width:768px) {

    div.home-p-txt {
        position: absolute;
        width: 100%;
        font-size: 14px;
        color: white;
    }

    div.about-p-txt {
        position: absolute;
        
        color: black;
        font-size: 14px;
    }

    .contact-btn {
        font-size: 14px;
        padding: 3px;
    }

    .card-link, .service-link {
        font-size: 15px;
        padding: 4px;
        width: 85%;
        margin: auto;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {

    div.home-p-txt {
        position: absolute;
        width: 100%;
        font-size: 18px;
        color: white;
    }

    div.about-p-txt {
        position: absolute;
        
        color: black;
        font-size: 18px;
    }

    .contact-btn {
        font-size: 18px;
        padding: 3px;
    }

    .card-link, .service-link {
        font-size: 15px;
        padding: 4px;
        width: 80%;
        margin: auto;
    }
}