nav.navbar {
    background-color: rgb(245, 231, 242);
}

button[type='button'] {
    font-size: x-large;
}

button.nav-link:hover {
    border: 2px solid gray;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* home heading and paragraph design */

div.home-page {
    position: relative;
}

div.home-h-txt {
    position: absolute;
    top: 40%;
    /* padding-left: 30%; */
    /* padding-right: 20%; */
    left: 30%;
    right: 20%;
}

div.home-h-txt h1 {
    color: white;
    font-size: 4vw;
}

div.home-p-txt {
    position: absolute;
    top: 60%;
    left: 31.5%;
    right: 22%;
}

div.home-p-txt p {
    color: white;
    font-size: 1.5vw;
    margin-top: 3%;
}

/* about heading and paragraph design */

div.about-us {
    position: relative;
}

div.about-h-txt {
    position: absolute;
    top: 5%;
    left: 10%;
}

div.about-h-txt h1 {
    color: black;
    font-size: 4vw;
}

div.about-p-txt {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 45%;
}

div.about-p-txt p {
    color: black;
    font-size: 1.5vw;
    margin-top: 5%;
}

/* style for image slider */
.slideshow-container {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 1%;
    color: white;
    font-size: 2em;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* style for sevices */

div.services {
    display: flex;
    justify-content: space-evenly;
}





footer {
    background-color: rgb(245, 231, 242);
}
